[submodule "tool/tool/flutter_distributor"]
	path = tool/tool/flutter_distributor
	url = https://github.com/Muska-Ami/flutter_distributor
[submodule "tool/flutter_distributor"]
	path = tool/flutter_distributor
	url = https://github.com/Muska-Ami/flutter_distributor
